{% extends 'temp/template.html.twig' %}

{% block title %} Editer Souhait {% endblock %}

{% block body %}

<div class="container px-4">
    <h1>Editer</h1>

    {{ form_start(formWish) }} {# <form ...> #}

    {{ form_widget(formWish) }} {# <form ...> #}
        <button type="submit" class="btn btn-success">
            <i class="fa fa-plus">Enregistrer</i>
        </button>

    {{ form_end(formWish) }} {# </form> #}

</div>

{% endblock body %}
